@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');

.App {
    display: flex;
    flex-direction: row;
    font-family: 'Archivo';  
}


@media (max-width: 768px) {
    
    .App {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}